[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/etcd \
--name=etcd079172 \
--enable-v2=true \
--data-dir=/opt/etcd/data/default.etcd \
--listen-peer-urls=https://172.16.79.172:2380 \
--listen-client-urls=https://172.16.79.172:2379,http://127.0.0.1:2379 \
--advertise-client-urls=https://172.16.79.172:2379 \
--initial-advertise-peer-urls=https://172.16.79.172:2380 \
--initial-cluster=etcd079172=https://172.16.79.172:2380,etcd079172=https://172.16.79.172:2380,etcd079172=https://172.16.79.172:2380 \
--initial-cluster-token=etcd-cluster \
--initial-cluster-state=new \
--cert-file=/opt/etcd/ssl/etcd.pem \
--key-file=/opt/etcd/ssl/etcd-key.pem \
--peer-cert-file=/opt/etcd/ssl/etcd.pem \
--peer-key-file=/opt/etcd/ssl/etcd-key.pem \
--trusted-ca-file=/opt/caCenter/ca.pem \
--peer-trusted-ca-file=/opt/caCenter/ca.pem
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
